extends ./base/layout.pug

block content
    main#carrusel
        section.slider
            .slider--img(style="background-image: url(images/banner/02.jpg)")
                .info
                    .title.cl--darkturquoise.txt_shadow.txt_size--em5
                        h2
                            b Brindar Soluciones
                    .subtitle.cl--white.txt_shadow.txt_size--em3
                        h4 Confiabilidad Inmediata
            .slider--img(style="background-image: url(images/banner/02.jpg)")
                .info
                    .title.cl--darkturquoise.txt_shadow.txt_size--em5
                        h2
                            b Soluciones Confiables
                    .subtitle.cl--white.txt_shadow.txt_size--em3
                        h4  A nuestros clientes
    main
        section#about.hidden
            .container
                .three-equal-columns
                    .col
                        p lorem
                    .col
                        p lorem
                    .col
                        p lorem
        section#about
            .container
                .two-equal-columns
                    .col
                        .title.title_site.cl--green.mg_bottom--x20
                            h3
                                b Nosotros
                        .paragraf
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam facilis cum qui culpa possimus cumque ipsam expedita, eveniet. Voluptatem cumque suscipit nihil ex eos, quae totam sit numquam facilis, nesciunt.

                    .col
                        p lorem
