extends ./base/layout.pug

block content
    main#carrusel
        section.slider
            .slider--img(style="background-image: url(images/banner/02.jpg)")
                .info
                    .title.cl--darkturquoise.txt_shadow.txt_size--em5
                        h2
                            b Brindar Soluciones
                    .subtitle.cl--white.txt_shadow.txt_size--em3
                        h4 Confiabilidad Inmediata
            .slider--img(style="background-image: url(images/banner/02.jpg)")
                .info
                    .title.cl--darkturquoise.txt_shadow.txt_size--em5
                        h2
                            b Soluciones Confiables
                    .subtitle.cl--white.txt_shadow.txt_size--em3
                        h4  A nuestros clientes
    main
        section#about
            .auto-container
                .two-equal-columns
                    .col.mg_bottom--x20
                        .title.title_site.cl--green.mg_bottom--x20
                            h3
                                b Nosotros
                        .paragraf.mg_bottom--x30
                            p S&F Auditores y Consultores, nace de la necesidad de ofrecer un grupo de Contadores Públicos Especializados en las diferentes ramas de la contabilidad, auditoría, revisoría fiscal, asesorías tributaria y finanzas.
                        figure.mg_bottom--x20
                            .img(style="background-image: url(images/banner/02.jpg)")

                    .col.mg_bottom--x20
                        .title.title_site.cl--green.mg_bottom--x20
                            h3
                                b Ofrecer un Servicio Profesional
                        ul.accordion_box
                            li.accordion.block
                                .btn_acc.active
                                    .icon_outer
                                        span.icon.icon-angle-down
                                        span.icon.icon-angle-up
                                    span.title Misión
                                .content_acc(style="display: block;")
                                    .content
                                        .text
                                            p ”S&F Auditores y Consultores, es una sociedad con independencia y ética profesional capaz de velar para que las empresas cumplan las políticas y normas vigentes en materia contable, tributaria, legal y financiera, diseñando programas de auditoría, aplicables a la situación económica y fiscal de Colombia”
                            li.accordion.block
                                .btn_acc
                                    .icon_outer
                                        span.icon.icon-angle-down
                                        span.icon.icon-angle-up
                                    span.title Visión
                                .content_acc
                                    .content
                                        .text
                                            p “S&F Auditores y Consultores  se consolidará como una sociedad líder en servicios contables, tributarios, financieros y legales, con un amplio reconocimiento en Auditoría y Revisoría Fiscal, el territorio nacional, destacados por su experiencia y profesionalismo.”
                            li.accordion.block
                                .btn_acc
                                    .icon_outer
                                        span.icon.icon-angle-down
                                        span.icon.icon-angle-up
                                    span.title Valores
                                .content_acc
                                    .content
                                        .text
                                            p S&F Auditores y Consultores, Cumple sus compromisos de manera ética y principios profesionales.
                                            ul
                                                li
                                                    p S&F presta sus servicios  con las últimas normas aplicadas a su gestión
                                                li
                                                    p.cl--steelblue Integridad
                                                li
                                                    p.cl--steelblue Honestidad
                                                li
                                                    p.cl--steelblue Confidencialidad
        section#counter.counter_seccion.bg--seccion.bgc--steelblue
            .auto-container
                .row.clearfix
                    .title.data.mg_bottom--x40.cl--white.col-xs-12.col-md-4
                        h2 ¡Tenemos grandes logros por mostrar !
                    .counter_column.col-xs-12.col-md-8
                        .column--inner
                            .counter_fact
                                .row.clearfix
                                    .column.counter_column.col-xs-12.col-md-4
                                        .inner
                                            .counter--outer.counter--box.counted
                                                span.counter--text 1780
                                                span.plus--tag +
                                            .title.cl--white
                                                h4 Projectos completados

                            .box_message
                                .message.cl--white
                                    h4 Necesita un pronta solución? <span>llámanos ahora</span> o
                                        a.detail.mg_left--x5(href="#") Escribenos
        section#services
            .auto-container
                .title.title_site.txt_center.cl--green.mg_bottom--x10
                    h3
                        b Servicios
                .subtitle.txt_center.mg_bottom--x20
                    h4 Consolidarnos como una sociedad <br> dedicada a la prestación de servicios de asesoría contable,<br> tributaria, económica, jurídica y financiera,<br> con amplio conocimiento en auditoría y revisoría fiscal.
            .auto-container
                .three-equal-columns
                    .col.services_list.mg_bottom--x20
                        .inner_box
                            .services_number.cl--silver 01
                            .icon_box
                                span.icon
                            .title.title_site.cl--steelblue.mg_bottom--x20
                                h3
                                    b Asesoría Contable
                            .paragraf.paragraf_em2.mg_bottom--x10
                                p Es un análisis a través de la Organización e implementación de sistemas contables, teniendo como base las normas de contabilidad y con un manejo integral de la contabilidad, la cual se hará bajo los parámetros de la preparación, elaboración y revisión de Estados Financieros.
                            a.detail(href="#")
                                p.dis_ib Más detalles
                                span.icon.mg_left--x5.icon-long-arrow-right
                    .col.services_list.mg_bottom--x20
                        .inner_box
                            .services_number.cl--silver 01
                            .icon_box
                                span.icon
                            .title.title_site.cl--steelblue.mg_bottom--x20
                                h3
                                    b Asesoría Financiera
                            .paragraf.paragraf_em2.mg_bottom--x10
                                p A través del servicio de asesoría financiera buscamos aumentar el valor de su empresa identificando oportunidades de mejoramiento, maximizando sus fortalezas, para así implementar políticas de creación de valor exitosas y eficaces en su negocio.
                            a.detail.disabled(href="#", disabled="disabled")
                                p.dis_ib Más detalles
                                span.icon.mg_left--x5.icon-long-arrow-right
                    .col.services_list.mg_bottom--x20
                        .inner_box
                            .services_number.cl--silver 02
                            .icon_box
                                span.icon
                            .title.title_site.cl--steelblue.mg_bottom--x20
                                h3
                                    b Servicios Tributarios
                            .paragraf.paragraf_em2.mg_bottom--x10
                                ul.list_site
                                    li
                                        p Involucra una planeación impositiva en busca de minimizar la carga de impuestos que recae sobre la Compañía, con base en las normas tributarias vigentes.
                                    li
                                        p Revisión de la provisión para impuesto de renta de la Compañía al cierre del ejercicio fiscal.
                                    //- li
                                    //-     p Revisión de la declaración de impuesto sobre la renta de la Compañía.
                                    //- li
                                    //-     p Acompañamiento a la administración de la Compañía durante las visitas efectuadas por funcionarios de la DIAN.

                            a.detail(href="#")
                                p.dis_ib Más detalles
                                span.icon.mg_left--x5.icon-long-arrow-right
                    .col.services_list.mg_bottom--x20
                        .inner_box
                            .services_number.cl--silver 03
                            .icon_box
                                span.icon
                            .title.title_site.cl--steelblue.mg_bottom--x20
                                h3
                                    b Servicios Legales
                            .paragraf.paragraf_em2.mg_bottom--x10
                                p.mg_bottom--x10 Servicio integral con los diagnósticos organizacionales y legales que usted necesita:
                                ul.list_site
                                    li
                                        p Planeación estratégica
                                    li
                                        p Gestión integral
                                    li
                                        p Seguridad industrial
                            a.detail(href="#")
                                p.dis_ib Más detalles
                                span.icon.mg_left--x5.icon-long-arrow-right
                    .col.services_list.mg_bottom--x20
                        .inner_box
                            .services_number.cl--silver 04
                            .icon_box
                                span.icon
                            .title.title_site.cl--steelblue.mg_bottom--x20
                                h3
                                    b Auditoría
                            .paragraf.paragraf_em2.mg_bottom--x10
                                p Esgrimimos la información de manera clara, precisa y oportuna a los directivos, como herramienta para la toma de decisiones que ayuden a mejorar continuamente y de manera significativa los procedimientos, controles, procesos, estructuras, y sistemas de cada organización.
                            a.detail(href="#")
                                p.dis_ib Más detalles
                                span.icon.mg_left--x5.icon-long-arrow-right
                    .col.services_list.mg_bottom--x20
                        .inner_box
                            .services_number.cl--silver 05
                            .icon_box
                                span.icon
                            .title.title_site.cl--steelblue.mg_bottom--x20
                                h3
                                    b Revisoría Fiscal
                            .paragraf.paragraf_em2.mg_bottom--x10
                                p Empleamos una revisoría constructiva, respetando los esfuerzos de las empresas y de las personas con aportaciones concretas para la eficacia de los controles, la reducción de riesgos, el cumplimiento debido de las obligaciones de todo tipo y la maximización de beneficios.
                            a.detail(href="#")
                                p.dis_ib Más detalles
                                span.icon.mg_left--x5.icon-long-arrow-right
        section#contact.fullwidth-seccion
            .section-outer.clearfix.bgi_item(style="background-image: url(images/banner/02.jpg)")
                .two-form-columns
                    .col.form_column.bgc--steelblue
                        .content
                            .title.title_site.cl--white
                                h3
                                    b Consultanos Ahora.
                            .contact_form
                                form#contact
                                    ul.list_contact.list--inline
                                        li(style="width: 91%;")
                                            .fullName.error
                                                //- label *Nombre y Apellidos
                                                input.contac_input(type="text", placeholder="Nombre y Apellidos")
                                        li(style="width: 91%;")
                                            .email.error
                                                //- label *Correo Electronico
                                                input.contac_input(type="email", placeholder="Correo Electronico")
                                        li(style="width: 91%;")
                                            //- label *Mensaje
                                            textarea.contac_txtArea(type="text", rows="2", cols="60", placeholder="Mensaje")
                                    .box_submit
                                        buttom.btn.btn_site Enviar
