extends ./base/layout.pug

block content
    main#carrusel
        section.slider
            .slider--img(style="background-image: url(images/banner/02.jpg)")
                .info
                    .title.cl--darkturquoise.txt_shadow.txt_size--em5
                        h2
                            b Brindar Soluciones
                    .subtitle.cl--white.txt_shadow.txt_size--em3
                        h4 Confiabilidad Inmediata
            .slider--img(style="background-image: url(images/banner/02.jpg)")
                .info
                    .title.cl--darkturquoise.txt_shadow.txt_size--em5
                        h2
                            b Soluciones Confiables
                    .subtitle.cl--white.txt_shadow.txt_size--em3
                        h4  A nuestros clientes
    main
        section#about.hidden
            .auto-container
                .three-equal-columns
                    .col
                        p lorem
                    .col
                        p lorem
                    .col
                        p lorem
        section#about
            .auto-container
                .two-equal-columns
                    .col.mg_bottom--x20
                        .title.title_site.cl--green.mg_bottom--x20
                            h3
                                b Nosotros
                        .paragraf.mg_bottom--x30
                            p S&F Auditores y Consultores, nace de la necesidad de ofrecer un grupo de Contadores Públicos Especializados en las diferentes ramas de la contabilidad, auditoría, revisoría fiscal, asesorías tributaria y finanzas.
                        figure.mg_bottom--x20
                            .img(style="background-image: url(images/banner/02.jpg)")

                    .col.mg_bottom--x20
                        .title.title_site.cl--green.mg_bottom--x20
                            h3
                                b Ofrecer un Servicio Profesional
                        ul.accordion_box
                            li.accordion.block
                                .btn_acc.active
                                    .icon_outer
                                        span.icon.icon-angle-down
                                        span.icon.icon-angle-up
                                    span.title Misión
                                .content_acc(style="display: block;")
                                    .content
                                        .text
                                            p ”S&F Auditores y Consultores, es una sociedad con independencia y ética profesional capaz de velar para que las empresas cumplan las políticas y normas vigentes en materia contable, tributaria, legal y financiera, diseñando programas de auditoría, aplicables a la situación económica y fiscal de Colombia”
                            li.accordion.block
                                .btn_acc
                                    .icon_outer
                                        span.icon.icon-angle-down
                                        span.icon.icon-angle-up
                                    span.title Visión
                                .content_acc
                                    .content
                                        .text
                                            p “S&F Auditores y Consultores  se consolidará como una sociedad líder en servicios contables, tributarios, financieros y legales, con un amplio reconocimiento en Auditoría y Revisoría Fiscal, el territorio nacional, destacados por su experiencia y profesionalismo.”
                            li.accordion.block
                                .btn_acc
                                    .icon_outer
                                        span.icon.icon-angle-down
                                        span.icon.icon-angle-up
                                    span.title Valores
                                .content_acc
                                    .content
                                        .text
                                            p S&F Auditores y Consultores, Cumple sus compromisos de manera ética y principios profesionales.
                                            ul
                                                li
                                                    p S&F presta sus servicios  con las últimas normas aplicadas a su gestión
                                                li
                                                    p.cl--steelblue Integridad
                                                li
                                                    p.cl--steelblue Honestidad
                                                li
                                                    p.cl--steelblue Confidencialidad
        section#counter.counter_seccion.bg--seccion.bgc--steelblue
            .auto-container
                .row.clearfix
                    .title.data.mg_bottom--x40.cl--white.col-xs-12.col-md-4
                        h2 ¡Tenemos grandes logros por mostrar !
                    .counter_column.col-xs-12.col-md-8
                        .column--inner
                            .counter_fact
                                .row.clearfix
                                    .column.counter_column.col-xs-12.col-md-4
                                        .inner
                                            .counter--outer.counter--box.counted
                                                span.counter--text 1780
                                                span.plus--tag +
                                            .title.cl--white
                                                h4 Projectos completados

                            .box_message
                                .message.cl--white
                                    h4 Necesita un pronta solución? <span>llámanos ahora</span> o
                                        a.detail.mg_left--x5(href="#") Escribenos
        section#services
            .auto-container
                .title.title_site.txt_center.cl--green.mg_bottom--x10
                    h3
                        b Servicios
                .subtitle.txt_center.mg_bottom--x20
                    h4 Ofrecemos todo tipo de negocios, finanzas y servicios de consultoría.
            .auto-container
                .three-equal-columns
                    .col.services_list.mg_bottom--x20
                        .inner_box
                            .services_number 01
                            .icon_box
                                span.icon
                        h3.cl--steelblue.mg_bottom--x10 Lorem ipsum dolor sit amet.
                        .paragraf.mg_bottom--x10
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius expedita sequi praesentium tempore sint et est, facere ex commodi accusantium repellendus aut sunt ratione pariatur, molestiae quae exercitationem, ipsam nobis.
                        a.detail(href="#")
                            p.dis_ib Más detalles
                            span.icon.mg_left--x5.icon-long-arrow-right
                    .col
                        p lorem
                    .col
                        p lorem
