extends ./base/layout.pug

block content
    main#carrusel
        section.slider
            .slider--img(style="background-image: url(images/banner/01.jpg)")
                .info
                    .title.cl--.txt_shadow.txt_site--em3
                        h2  Lorem ipsum dolor sit amet
                    .subtitle.cl--.txt_shadow
                        h4  Lorem ipsum dolor sit amet
    main#content
        section#about
            .container
                .three-equal-columns
                    .col
                        p lorem
                    .col
                        p lorem
                    .col
                        p lorem
