.container
    header.Grid.Grid--full
        .Grid-cell
            ul.navigation
                li
                    a(href="#") Home
                li
                    a(href="#") About
                li
                    a(href="#") Products
