.slider
    height: 60vh
    position: relative
    width: 100%
    overflow: hidden
    background-color: black
    &--img
        height: 66vh
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        +image-rendering(pixelated)
        .info
            position: absolute
            bottom: 27%
            left: 50%
            right: auto
            +transform(translateX(-50%))
            vertical-align: middle
            text-align: center

.slick
    &-prev,
    &-next
        top: inherit
        top: 50%
        width: 55px
        height: auto
        z-index: 99
        border-radius: 50%
        border: 1px solid $white
        background-color: rgba($white, .5)
        padding: 15px
        +transition($trs-site)
        +MQMAX(S)
            top: inherit
            bottom: 10px
    &-prev
        left: 5%
        +press
            background-color: rgba($white, .9)
        &:before:hover,
        &:before:focus
            color: $darkturquoise !important
        +MQMAX(S)
            left: 20%
    &-next
        right: 5%
        +press
            background-color: rgba($white, .9)
        +MQMAX(S)
            right: 20%
    &-prev:before,
    &-next:before
        line-height: 1
        color: $darkturquoise
        opacity: .75
        font-family: 'icomoon' !important
        speak: none
        font-weight: normal
        font-variant: normal
        text-transform: normal
        font-size: 25px
    &-prev
        &:before
            content: "\f104"
    &-next
        &:before
            content: "\f105"
