// logos
.logo
    display: inline-block
    &-syf
        background: transparent url('/docs/images/theme/logo_syf.png')no-repeat center center/100%
        width: 170px
        height: 60px
    &_box
        position: relative
        z-index: 25
        padding: 30px 0px

