// text.sass
.title,
.subtitle,
.paragraf
    display: block

//.tag_data
.txt
    &_italic
        font-style: italic
    &_center
        text-align: center
    &_upper
        text-transform: uppercase
    &_capital
        text-transform: capitalize
    &_right
        text-align: right
    &_shadow
        text-shadow: 0px 2px 2px ($black)
    &_size
        &--em3
            +heading
                +font-size(3)
        &--em4
            +heading
                +font-size(4)
        &--em5
            +heading
                +font-size(5)
        &--em6
            +heading
                +font-size(6)
    &_completed
        text-decoration: line-through
        font-style: italic
        color: $gainsboro
.completado
    text-decoration: line-through
    font-style: italic
    color: $gainsboro

.title
    &_site
        h2, h3, h4, h5, h6
            position: relative
            display: inline-block
            padding-bottom: 18px
            &:after
                position: absolute
                content: ''
                left: 0px
                bottom: 0px
                width: 50px
                height: 3px
                background-color: $darkturquoise
